# Exploratory Data Analysis of IMDb's Top Global Movies (1950-2020)

This notebook contains the exploratory data analysis (EDA) for the dataset of IMDb's top global movies from 1950 to 2020. The analysis includes data loading, preprocessing, statistical analysis, and visualizations.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Load Data

In this section, we will load the processed data from the `data/` directory.

In [5]:
# Load the processed data
data_path = '../data/imdb_top_movies.csv'
movies_df = pd.read_csv(data_path)

# Display the first few rows of the dataset
movies_df.head()

,Title,Year,Rating,Genre,Director(s),Box Office Revenue,Lead Actors
0,1. The Shawshank Redemption,1994,9.3 (3M),"Epic, Period Drama, Prison Drama, Drama","Bob Gunton, Frank Darabont, Morgan Freeman, Ti...","Gross worldwide$29,332,133","Bob Gunton, Tim Robbins, Morgan Freeman"
1,2. The Godfather,1972,9.2 (2.1M),"Epic, Gangster, Tragedy, Crime, Drama","Al Pacino, Marlon Brando, Mario Puzo, Peter Cl...","Gross worldwide$250,342,198","Al Pacino, Marlon Brando, James Caan"
2,3. The Dark Knight,2008,9.0 (3M),"Action Epic, Epic, Superhero, Tragedy, Action,...","Salvatore Maroni, Michael Caine, Christian Bal...","Gross worldwide$1,009,057,329","Christian Bale, Aaron Eckhart, Heath Ledger"
3,4. The Godfather Part II,1974,9.0 (1.4M),"Epic, Gangster, Tragedy, Crime, Drama","Livio Giorgi, Al Pacino, Mario Puzo, Francis F...","Gross worldwide$47,964,222","Al Pacino, Robert De Niro, Robert Duvall"
4,5. 12 Angry Men,1957,9.0 (917K),"Legal Drama, Psychological Drama, Crime, Drama","Jack Warden, Lee J. Cobb, Sidney Lumet, Regina...","Gross worldwide$2,945","Henry Fonda, Martin Balsam, Lee J. Cobb"

## Data Overview

Let's take a look at the basic statistics and structure of the dataset.

In [6]:
# Display basic statistics
movies_df.describe(include='all')

# Display the data types and missing values
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               250 non-null    object
 1   Year                250 non-null    int64
 2   Rating              250 non-null    object
 3   Genre               250 non-null    object
 4   Director(s)         250 non-null    object
 5   Box Office Revenue  250 non-null    object
 6   Lead Actors         250 non-null    object
dtypes: int64(1), object(6)
memory usage: 13.8+ KB